<h1>Select test user access level</h1>
<%= form_for :session, url: login_path do |f| %>
<p>
    <%= f.label :name %>
    <%= f.select :id, options_from_collection_for_select(User.all, 'id', 'name') %>
</p>
<p>
    <%= f.submit 'go' %>
</p>
<% end %>
    
