// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#Entry {
    width : 1000px;
    height : 500px;
}

#my_form {
    width : 100%;
    height : 90%;
}

.TextBox {
    width : 100%;
    height : 100%;
}

#submit {
    float : right;
}