<div class="container">
  <div class="text-center">
    <%#= session[:user_id] ? render 'partails/reg_foot' : render 'partial/anon_foot' %>
    <p>
<<<<<<< HEAD
      Made by Matthew Broman, Ryan Hennigan, Brian Maule, and Ray Mishra
=======
      Made by Matthew Broman, Ryan Hennigan, Brian Maule, Ray Mishra, and Ryan Lastufka.
>>>>>>> a28e777bdb80ae85eb01a5cb5038e420e7ae26b7
    </p>
  </div>
</div>