<div class = "jumbotron", id="header">
  <div class="container">
      <div class="text-center">
        <h1 class="display-3"> Sparkle Unicorn Induction Tutor </h1>
    </div>
  </div>
</div>
<% if is_admin? %>
  <%= render 'partials/menus/admin' %>
<% elsif is_teacher?  %>
  <%= render 'partials/menus/teacher' %>
<% elsif is_student? %>
  <%= render 'partials/menus/student' %>
<% else %>
  <%= render 'partials/menus/anon' %>
<% end %>