<div class="nav-cont">
  <div class="container">
    <nav class="nav nav-pills nav-justified">
      <%= link_to 'Login', google_path, class: session[:page] == 'Login' ? "nav-item nav-link active" : "nav-item nav-link" %>
      <%= link_to 'Home', welcome_index_path, class: session[:page] == 'Home' ? "nav-item nav-link active" : "nav-item nav-link" %>
      <%= link_to 'New Student', new_student_path, class: session[:page] == "Sign Up Student" ? "nav-item nav-link active":"nav-item nav-link" %>
      <%= link_to 'New Teacher', new_teacher_path, class: session[:page] == "Sign Up Teach" ? "nav-item nav-link active":"nav-item nav-link" %>
    </nav>
  </div>
</div>