<div id = 'info'>
<h1>Welcome to The induction tutor</h1>
<p>
    this will display info about the product and have to login page
    for now we have 3 links that represent the different levels off 
    access users can have in the site.
</p>
</div>
<div>
    <%= link_to 'login', login_path %>
</div>

<div>
    <%= link_to 'new_user', new_user_path %>
</div>