<%content_for :jumbotron, 'Sparkle Unicorn Induction Tutor', flush: true %>

<h3 class = "text-center">What is the Sparkle Unicorn induction tutor</h3>
<p>
    This site is a CSCE 431 Software Engineering project done by a group of student at Texas A&M University. The goal of the site
    to help students in the future better learn mathematical induction and highlight areas where they are stuggling. The site is aimed at 
    Two distinct groups of users, Teachers and Students.
</p>
<div class = "row">
    <div class = "col-sm-12 col-md-6 col-lg-6">
        <h3>Teachers</h3>
        <p>
            Features aimed at teachers are
            <ul>
                <li>Section creation</li>
                <li>Classroom management</li>
                <li>Custom questions</li>
                <li>Student attempt tracking</li>
            </ul>
        </p>
    </div>
    <div class = "col-sm-12 col-md-6 col-lg-6">
        <h3>Students</h3>
        <p>
            Features aimed at students are
            <ul>
                <li>Proof auto checking</li>
                <li>Latex output for all proofs</li>
                <li>Classroom enrollment</li>
            </ul>
        </p>
    </div>
</div>

