<h1>How to do a proof</h1>
<h3>Math</h3>
    <p>
        we accept algebra, sums, and products
    </p>
    <ul>
        <li>list</li>
        <li>list</li>
    </ul>
<h3>Basis</h3>
    <p>
        What is a Basis
    </p>
<h3>Induction</h3>
    <p>
        what is a induction
    </p>
<h3>Hypothesis</h3>
    <p>
        what is a hypothesis
    </p>
<h3>To Show</h3>
    <p>
        what is a to show
    </p>
    
<% if session[:back] %>
    <%= link_to 'Back', session[:back] %>
<% end  %>