<div class="container">
  <h3>Tags</h3>
  
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope = "col">Edit</th>
        <th scope = "col">Delete</th>
       </tr>
     </thead>
     <tbody>
       <% @tags.each do |t| %>
       <tr>
        <td> <%= link_to "#{t.name}", tag_path(t) %> </td>
        <td> <%= t.description %> </td>
        <td> <%= link_to 'edit', edit_tag_path(t) %></td>
        <td> <%= link_to 'delete', delete_tag_path(t)%></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>