.jumbotron {
    h1 {
        color :white;
    }
    a {
        color :white;
    }
    p {
        color :white;
    }
    background-color : $maroon;
}

.btn-primary {
    background-color : $maroon;
    border-color : black;
}