<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <div class = "jumbotron">
      <h1 class="display-3"> Sparkle Unicorn Induction Tutor</h1>
      <% if @user %>
        <p class = "lead"> Welcome <%= @user.name %></p>
    </div>
    <div class = container>
      <%= yield %>
    </div>
  </body>
</html>
